body{
    background-color:lightskyblue;
}

h1{
    font-size:50px;
    color:gold;
    background-color:grey;
    margin:0px;
    padding:5px;
    border-radius:10px;
    width:50%;
}

#show_sketch{
    float:right;
    font-size:20px;
}

canvas{
    border:5px solid white;
    border-radius:20px;
    animation-name:example;
    animation-duration: 5s;
    margin-top:50px;
    animation-iteration-count:infinite;
}

@keyframes example{
    from{box-shadow: 1px 1px 30px coral;}
    to{box-shadow: 1px 1px 30px yellow;}
}

p{
    padding-top:10px;
    font-size:25px;
}